/* General Styles */
body {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #ffffff;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Sticky Navigation */
header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 0;
    z-index: 1000;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Menu Toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Hero Section */
.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8rem;
}

.hero-content {
    display: flex;
    background: linear-gradient(to top right, rgba(112, 13, 13, 0.2), rgba(0, 0, 0, 0.8));
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.hero-text {
    flex: 1;
    text-align: left;
    max-width: fit-content;
}


.hero-video video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
    cursor: auto;
    max-height: 40rem;
}

.hero h1 {
    font-size: 5rem;
    font-family: "Syne", serif;
}

h1 span {
    color: #a51111;

}

.hero p {
    font-size: 1.4rem;
    margin-top: 20px;
}

.background-video {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-video {
    position: relative;
}

.overlay-text {
    position: relative;
    z-index: 1;
    font-size: 2.5em;
    font-weight: bold;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* About Section*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: -2rem;
}

.aboutTittle {
    margin-top: -3rem;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

.about p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 70%;
}

.about p span {
    color: #a51111;
}

.about img {
    width: 70%;
    height: auto;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projectsTittle {
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem;
    width: 80%;
}

.projects {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.project-card {
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2.2rem;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    border-radius: 10px;
}

.project-info {
    padding: 1rem 0;
}

.project-info h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.project-info p {
    font-size: 1.2rem;
    color: #ccc;
}

.project-info .view-video {
    display: flex;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #A51111;
    color: white;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: background-color 0.3s;
}

.projectsTittle span {
    color: #a51111;
}

.project-info .view-video:hover {
    background-color: #550707;
}

hr {
    width: 90%;
    opacity: 0.2;
    margin-top: 2rem;
    margin-bottom: 2rem;
} 
.preview-video {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
}


.contact {
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 3rem;
    display: flex;
    border-radius: 2rem;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
}

.contact form {
    flex: 2;
    order: 1;
    width: 100%;
}

.contact h2 {
    font-size:5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.contact label {
    font-size: 1.5rem;
    margin-top: 1rem;
}


.contact input, .contact textarea {
    width: 80%;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    background: #dfdfc8;
    border: none;
    border-radius: 1rem;
}


.tittle-icons {
    flex: 1;
    order: 2;
}

.social-media img {
    width: 4rem;
    height: auto;
    margin: 0 2rem;
    border-radius: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: 12rem;
    height: 4rem;
    margin-top: 2.5rem;
    background: #A51111;
    border: none;
    border-radius: 1rem;
    color: #dfdfc8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, rgba(112, 13, 13, 0.2), rgba(0, 0, 0, 0.8));
    padding: 2rem;
}

footer p {
    font-size: 1.2rem;
}
